<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1X2">
        <header class="block__header hero__content">
            <h1 class="block__heading">Cloud hosting for pros</h1>
            <p class="hero__tagline">Deploy your website in less than 60 seconds.</p>
            <a class="btn btn--accent btn--stretched" href="">Get started</a> 
        </header>
        <picture>
        <source type="image/webp" srcset="images/banner.webp 1X, images/banner@2x.webp" />
        <source type="image/webp" srcset="images/banner.png 1X, images/banner@2x.webp" />
        <img  class="hero__image" src="images/banner.png" alt="">
       </picture>
    </div>
</section>